/* reset css*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* classes gerais */
.container{
  width: 1280px;
  margin: auto;
}
.flex{
  display: flex;
}
.justify-content{
  justify-content: space-between;
}
/* header */
header{
  background-color: #666;

}
